.TopFilms{
    position: relative;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
    max-width: 1000px;
    overflow: hidden;
    height: 330px;
    overflow-y: auto;
}
.TopFilmsLowWidth{
    position: relative;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
    max-width: 1000px;
    overflow: hidden;
    max-height: 380px;
    height: 100%;
    min-height: 200px;
    overflow-y: auto;
}